<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="css/frameworks/nes.css" rel="stylesheet"/>
    <link href="css/error-style.css" rel="stylesheet"/>
    <style>
        html {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            font-family: 'Press Start 2P', cursive;
        }
    </style>
    <title>Error</title>
</head>
<body>
<div class="nes-container with-title is-centered">
    <h1 class="title">ERROR</h1>
    <div class="nes-container is-rounded is-dark">
        <h2 class="nes-text is-danger">Something went wrong...</h2>
    </div>
    <br/>
    <i class="nes-icon is-large is-half heart"></i>
    <br/>
    <br/>
    <a href="/" class="nes-btn">
        <span class="is-primary">Go home</span>
    </a>
</div>
</body>
</html>